@import "../../../assets/css/vars.scss";

.ui.visible.left.sidebar ~ .fixed,
.ui.visible.left.sidebar ~ .pusher {
  transform: translate3d(250px, 0, 0) !important;
  transition-duration: 0s;
}
.ui.menu .item {
  padding: 0;
}

.ui.segment.pushable {
  padding: 0;
  margin: 0;
}

.ui.basic.segment {
  padding: 0;
}

.ui.sidebar {
  transition-duration: 0s;
  width: 250px !important;
}

.sidebar-item {
  display: flex;
  color: $darkgrey;
  font-size: 16px;
  width: 100%;
  padding: 10px 5px;
  &--selected {
    border-radius: 0 30% 30% 0;
    background-color: $superlightgrey;
  }
  &--selected & {
    &__start {
      &__title {
        font-weight: 600;
      }
    }
  }
  &:hover & {
    &__start {
      &__title {
        font-weight: 600;
      }
    }
  }
  &__start {
    text-align: left;
    flex-basis: 80%;
    display: flex;
    &__icon {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 20%;
    }
    &__title {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 80%;
      text-align: left;
    }
  }
  &__end {
    flex-basis: 20%;
  }
}
