@import "../assets/css/mixins";
body {
  overflow-y: hidden;
}

.text-changer {
  padding: 30px;
  text-align: center;
}

.logo {
  display: block;
  margin: auto;
}

@include maxMediaQueries(750px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
