@import "../../../../assets/css/vars.scss";
.mail-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.mail-row {
  list-style: none;
  display: flex;
  padding: 10px 10px 0 5px;
  border: 1px solid $superlightgrey;
  &:hover {
    background-color: $superlightgrey;
    cursor: pointer;
  }
  &__important {
    flex-basis: 3%;
    color: $lightgrey;
    margin-left: 15px;
    &:hover {
      color: $grey;
    }
    &--true {
      color: $yellow;
    }
  }
  &__sender {
    font-weight: bold;
    flex-basis: 10%;
  }
  &__body {
    flex-basis: 80%;
    &__subject {
      font-weight: bold;
    }
    &__overview {
      color: $grey;
    }
  }
  &__timestamp {
    flex-basis: 7%;
  }
}
